{
    "openapi": "3.0.1",
    "info": {
      "title": "Fish Health API",
      "description": "\nPlease note that the lice data exposed through API are raw data and the usage of these for management of aquaculture as defined by law and regulations is the sole responsibility of Norwegian Food Safety Authority (Mattilsynet).\n\nPlease also note the following about the lice and treatment data exposed:\n\n* The data are raw data reported from the fish farms and should be correct by the reported time. However there might be data inaccuracies both for individual aquaculture sites as well as for compiled information.\n* The data are not manually corrected by Norwegian Food Safety Authority before entering Fishhealth and being exposed through API (same as data delivered from Norwegian Food Safety Authority on public/media request).\n* The data are quality controlled when used by Norwegian Food Safety Authority in supervision / decisions\n* The authority does not have control of use of data after publishing. The user of the data has the responsibility of quality control of data.\n\nSpecial note on the data about cleanerfish: From the 19th of April 2018 there might be missing data due to transition to new reporting.\n\n### API news\nGeneral API information and notifications about changes to the API: [https://developer.barentswatch.no](https://developer.barentswatch.no)\n\n",
      "termsOfService": "https://developer.barentswatch.no/docs/fishhealth",
      "contact": {
        "name": "API information and contact information",
        "url": "https://www.barentswatch.no/artikler/apnedata/"
      },
      "license": {
        "name": "NLOD",
        "url": "https://data.norge.no/nlod"
      },
      "version": "v1"
    },
    "servers": [
      {
        "url": "https://www.barentswatch.no/bwapi"
      }
    ],
    "paths": {
      "/v1/geodata/fishhealth/licenseelist": {
        "get": {
          "tags": [
            "AquaCultureLists"
          ],
          "summary": "List of licensees",
          "description": "Get a complete list of organizations holding an aquaculture license for any species issued by the\r\nDirectorate of Fisheries (www.fiskeridir.no).",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.OrganizationNameIdDto"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.OrganizationNameIdDto"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.OrganizationNameIdDto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/species": {
        "get": {
          "tags": [
            "AquaCultureLists"
          ],
          "summary": "List of all species",
          "description": "Get a list of all species in the aquaculture register.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.Species"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.Species"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.AquacultureRegister.Models.Dto.Species"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/codspawningground/{id}": {
        "get": {
          "tags": [
            "CodSpawningGround"
          ],
          "summary": "Get information about a codspawning ground.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id of codspawning ground",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "404": {
              "description": "Not Found",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                }
              }
            },
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.CodSpawningGround.Models.CodSpawningGroundDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.CodSpawningGround.Models.CodSpawningGroundDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.CodSpawningGround.Models.CodSpawningGroundDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/diseasezonehistory/{localityNo}/{year}/{week}": {
        "get": {
          "tags": [
            "DiseaseHistory"
          ],
          "summary": "Get history of disease zones for site",
          "description": "Get a history of ISA and PD protection zones and surveillencezone, and also ISA 10km circle (exportrestrictionzone)\r\nfor a site.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/diseasezonehistory/{localityNo}": {
        "get": {
          "tags": [
            "DiseaseHistory"
          ],
          "summary": "Get history of disease zones for site",
          "description": "Get a history of ISA and PD protection zones and surveillencezone, and also ISA 10km circle (exportrestrictionzone)\r\nfor a site.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthDiseaseHistory.Models.DiseaseZoneHistory"
                  }
                }
              }
            }
          },
          "deprecated": true
        }
      },
      "/v1/geodata/fishhealth/exportrestrictions/{year}/{week}": {
        "get": {
          "tags": [
            "ExportRestrictions"
          ],
          "summary": "Export restrictions for week",
          "description": "Fish from aquaculture farms 10 km or closer to a farm infected by, or officially suspected of being\r\ninfected by, infectious salmon anemia (ISA) may not be exported to Australia.",
          "parameters": [
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityDto"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityDto"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityDto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/exportrestrictions/{localityNo}/{year}/{week}": {
        "get": {
          "tags": [
            "ExportRestrictions"
          ],
          "summary": "Export info about an export restriction zone for week",
          "description": "Fish from aquaculture farms 10 km or closer to a farm infected by, or officially suspected of being\r\ninfected by, infectious salmon anemia (ISA) may not be exported to Australia.\r\n            \r\nThe result includes a list of other localities within that 10 km zone.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ExportRestrictions.Models.ExportRestrictionDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ExportRestrictions.Models.ExportRestrictionDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ExportRestrictions.Models.ExportRestrictionDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/download/exportrestrictions": {
        "get": {
          "tags": [
            "Download"
          ],
          "summary": "Download dataset to chart plotter and other file formats",
          "parameters": [
            {
              "name": "format",
              "in": "query",
              "description": "Use the endpoint /v1/geodata/service/downloadable/exportrestrictions to get the list of supported file formats for this dataset",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "version",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "lon",
              "in": "query",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "lat",
              "in": "query",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "distance",
              "in": "query",
              "schema": {
                "type": "number",
                "format": "double"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        }
      },
      "/v1/geodata/download/anonymous-exportrestrictions": {
        "get": {
          "tags": [
            "Download"
          ],
          "summary": "Anonymously download dataset to chart plotter and other file formats",
          "parameters": [
            {
              "name": "format",
              "in": "query",
              "description": "Temporary endpoint to cater for Olex chartplotters. To other users: Do not use this endpoint to integrate with barentswatch as this endpoint may be removed without warning. Use the endpoint /v1/geodata/service/downloadable/exportrestrictions to get the list of supported file formats for this dataset",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "version",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              }
            },
            {
              "name": "lon",
              "in": "query",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "lat",
              "in": "query",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "distance",
              "in": "query",
              "schema": {
                "type": "number",
                "format": "double"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        }
      },
      "/v1/geodata/fairways/{id}": {
        "get": {
          "tags": [
            "Fairway"
          ],
          "summary": "Get fairway by id",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "fairway id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.Fairways.Models.FairwayDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.Fairways.Models.FairwayDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.Fairways.Models.FairwayDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/download/fishhealth": {
        "get": {
          "tags": [
            "FishhealthDownload"
          ],
          "summary": "Fish Health data export",
          "description": "Endpoints to download export data for localities with salmonoid license as excel or csv files.\r\n            \r\nCleaner fish data is not included after week 16, 2018, because of changes in reporting requirements.",
          "parameters": [
            {
              "name": "reporttype",
              "in": "query",
              "description": "'disease' gives suspected and confirmed ISA and PD cases. 'lice' gives reported lice\r\n             counts pr week. 'treatments' gives reported medicinal treatments, cleanerfish deployed and mechanical\r\n             removal.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "filetype",
              "in": "query",
              "description": "Specifies output file format. 'xlsx', 'csv'",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "localityno",
              "in": "query",
              "description": "aquaculture site number",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "fromweek",
              "in": "query",
              "description": "fromyear and fromweek specifies the first week to include in the export. Must\r\n             correspond to a real year/week combination. If omitted, the export will include all weeks up to the\r\n             specified toyear/toweek.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "fromyear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toweek",
              "in": "query",
              "description": "toyear and toweek specifies the last week to include in the export. Must correspond\r\n             to a real year/week combination. If omitted, the export will include data from the specified\r\n             fromyear/fromweek (see above). If neither from or to is specified, the export will include all weeks.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toyear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        }
      },
      "/v1/geodata/download/fishhealth/count": {
        "get": {
          "tags": [
            "FishhealthDownload"
          ],
          "summary": "Data download count",
          "description": "Output is number of rows that will be exported with current settings. Only contains data for localities\r\nwith salmonoid license.",
          "parameters": [
            {
              "name": "reporttype",
              "in": "query",
              "description": "'disease' gives suspected and confirmed ISA and PD cases. 'lice' gives reported\r\n            lice counts pr week. 'treatments' gives reported medicinal treatments, cleanerfish deployed and mechanical\r\n            removal.\r\n            Available values: disease, lice, treatments",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "localityno",
              "in": "query",
              "description": "aquaculture site number",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "fromweek",
              "in": "query",
              "description": "fromyear and fromweek specifies the first week to include in the export. Must\r\n            correspond to a real year/week combination. If omitted, the export will include all weeks up to the\r\n            specified toyear/toweek (see below).",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "fromyear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toweek",
              "in": "query",
              "description": "toyear and toweek specifies the last week to include in the export. Must correspond to\r\n            a real year/week combination. If omitted, the export will include data from the specified fromyear/fromweek\r\n            (see above). If neither from or to is specified, the export will include all weeks.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toyear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/download/fishhealth/preview": {
        "get": {
          "tags": [
            "FishhealthDownload"
          ],
          "summary": "Fish Health data export preview",
          "description": "Preview of 10 rows of Fish Health export data. Only contains data for localities with salmonoid\r\nlicense.",
          "parameters": [
            {
              "name": "reporttype",
              "in": "query",
              "description": " 'disease' gives suspected and confirmed ISA and PD cases. 'lice' gives reported lice counts pr week.\r\n'treatments' gives reported medicinal treatments, cleanerfish deployed and mechanical removal.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "localityno",
              "in": "query",
              "description": "aquaculture site number",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "fromweek",
              "in": "query",
              "description": "fromyear and fromweek specifies the first week to include in the export. Must correspond to a real year/week\r\ncombination. If omitted, the export will include all weeks up to the specified toyear/toweek",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "fromyear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toweek",
              "in": "query",
              "description": "toyear and toweek specifies the last week to include in the export. Must correspond to a real year/week\r\ncombination. If omitted, the export will include data from the specified fromyear/fromweek (see above).\r\nIf neither from or to is specified, the export will include all weeks.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "toyear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "LocalityWeekIlaPdExport": {
              "description": null,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.LocalityWeekIlaPdExportDto"
                    }
                  }
                }
              }
            },
            "LocalityWeekExport": {
              "description": null,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.LocalityWeekExportDto"
                    }
                  }
                }
              }
            },
            "TreatmentsExport": {
              "description": null,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthDownload.Models.TreatmentsExportDto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/{year}/{week}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "National overview for a week",
          "description": "Get summary data for all aquaculture sites for a particular week. Suited to produce an overview of the number\r\nof aquaculture sites that has lice or disease issues in a week, but also how many aquaculture sites that have submitted\r\na report for this week.",
          "parameters": [
            {
              "name": "year",
              "in": "path",
              "description": "The year part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "The week part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "Ila",
              "in": "query",
              "description": "Include only sites with ISA this week (both confirmed and suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "IlaConfirmed",
              "in": "query",
              "description": "Include only sites with ISA this week (only confirmed)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "IlaSuspected",
              "in": "query",
              "description": "Include only sites with ISA this week (only suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Pd",
              "in": "query",
              "description": "Include only sites with PD this week (both confirmed and suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "PdConfirmed",
              "in": "query",
              "description": "Include only sites with PD this week (only confirmed)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "PdSuspected",
              "in": "query",
              "description": "Include only sites with PD this week (only suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllWithReport",
              "in": "query",
              "description": "All sites that have reported this week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllWithoutReport",
              "in": "query",
              "description": "All sites that have not reported for specified week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllFallowWithoutReport",
              "in": "query",
              "description": "All fallow sites that have not reported for specified week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllReportNotMandatoryWithoutReport",
              "in": "query",
              "description": "Sites not required to report lice count. This applies to sites that do not produce salmon or trout,\r\nsites that are on land, and to slaughter holding cages",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllNotFallowWithoutReport",
              "in": "query",
              "description": "All active sites that have not reported for specified week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AboveLiceThreshold",
              "in": "query",
              "description": "Above 0.5 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "BelowLiceThreshold",
              "in": "query",
              "description": "Below 0.5 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AboveMinimumLiceThreshold",
              "in": "query",
              "description": "Above 0.2 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "BelowMinimumLiceThreshold",
              "in": "query",
              "description": "Below 0.2 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "MinLiceUserThreshold",
              "in": "query",
              "description": "User defined minimum threshold for average female lice",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "MaxLiceUserThreshold",
              "in": "query",
              "description": "User defined maximum threshold for average female lice",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "Organization",
              "in": "query",
              "description": "Company/organization number; number returned as OrgNo/organizationNo from other endpoints",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "HasSubstanceTreatments",
              "in": "query",
              "description": "has reported substance treatment",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Substance",
              "in": "query",
              "description": "E.g. substance=1 (id returned as substanceId from other endpoints providing treatment information)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            {
              "name": "SubstanceOtherInFeed",
              "in": "query",
              "description": "Sites treated in-feed with other substances (other substances substance id=99)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "SubstanceOtherBath",
              "in": "query",
              "description": "Sites bath treated with other substances (other substances substance id=99)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "ProductionType",
              "in": "query",
              "description": "Type of production license.",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "Purpose",
              "in": "query",
              "description": "Type of production license purpose",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "AnyGreen",
              "in": "query",
              "description": "\"Green\"-licence may be used on sites",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "CountyMunicipality",
              "in": "query",
              "description": "Norwegian \"kommune-/fylkenummer\"",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CleanerFish",
              "in": "query",
              "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\r\nafter week 16, 2018, because of changes in reporting requirements.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Species",
              "in": "query",
              "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\r\nafter week 16, 2018, because of changes in reporting requirements.",
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            {
              "name": "MechanicalRemoval",
              "in": "query",
              "description": "Has reported mechanical removal of lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "InsideIlaControlArea",
              "in": "query",
              "description": "All sites that are inside an ISA restricted zone",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "ProductionArea",
              "in": "query",
              "description": "The id of productionarea. Valid values are 1-13",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShrimpFishingGroundProximity",
              "in": "query",
              "description": "All sites that are within 1000 m of shrimpfishingground",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "ShrimpfishinggroundOrCodspawninggroundProximity",
              "in": "query",
              "description": "All sites that are within 500 m of shrimpfishingground or codspawningground",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "IsOnLand",
              "in": "query",
              "description": "Sites that are on land (if false only sites at sea are included)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "OnlyWithSalmonoidLicense",
              "in": "query",
              "description": "Only include localities that have a license for salmon, trout or rainbow trout",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "LicenseSpecies",
              "in": "query",
              "description": "One or more species (related to aquaculture register) in lowercase (returned from other endpoint)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "WithinPolygon",
              "in": "query",
              "description": "A polygon, that (when set) makes this method only return localities within the polygon",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "NonMedicinalTreatmentType",
              "in": "query",
              "description": "Include only localities with the specified nonMedicinalTreatmentTypes.\r\nOnly relevant for reports from updated licereport form starting 2024.",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BW.Api.Api.Licereport.Models.LiceReport.NonMedicinalTreatmentType"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV1"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV1"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.NationalReportV1"
                  }
                }
              }
            },
            "204": {
              "description": "No Content"
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{year}/{week}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Aquaculture site summary for a week",
          "description": "Returns lice and treatment info for specified week, along with basic site info like id, name and position.\r\nThe sites returned may be filtered with optional query parameters.",
          "parameters": [
            {
              "name": "year",
              "in": "path",
              "description": "The year part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "The week part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "TagFilteredLocalities",
              "in": "query",
              "description": "Include all sites and tag filter matches (if false only filter matches are returned",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Ila",
              "in": "query",
              "description": "Include only sites with ISA this week (both confirmed and suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "IlaConfirmed",
              "in": "query",
              "description": "Include only sites with ISA this week (only confirmed)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "IlaSuspected",
              "in": "query",
              "description": "Include only sites with ISA this week (only suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Pd",
              "in": "query",
              "description": "Include only sites with PD this week (both confirmed and suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "PdConfirmed",
              "in": "query",
              "description": "Include only sites with PD this week (only confirmed)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "PdSuspected",
              "in": "query",
              "description": "Include only sites with PD this week (only suspected)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllWithReport",
              "in": "query",
              "description": "All sites that have reported this week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllWithoutReport",
              "in": "query",
              "description": "All sites that have not reported for specified week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllFallowWithoutReport",
              "in": "query",
              "description": "All fallow sites that have not reported for specified week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllReportNotMandatoryWithoutReport",
              "in": "query",
              "description": "Sites not required to report lice count. This applies to sites that do not produce salmon or trout,\r\nsites that are on land, and to slaughter holding cages",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AllNotFallowWithoutReport",
              "in": "query",
              "description": "All active sites that have not reported for specified week",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AboveLiceThreshold",
              "in": "query",
              "description": "Above 0.5 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "BelowLiceThreshold",
              "in": "query",
              "description": "Below 0.5 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "AboveMinimumLiceThreshold",
              "in": "query",
              "description": "Above 0.2 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "BelowMinimumLiceThreshold",
              "in": "query",
              "description": "Below 0.2 avg. female lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "MinLiceUserThreshold",
              "in": "query",
              "description": "User defined minimum threshold for average female lice",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "MaxLiceUserThreshold",
              "in": "query",
              "description": "User defined maximum threshold for average female lice",
              "schema": {
                "type": "number",
                "format": "double"
              }
            },
            {
              "name": "Organization",
              "in": "query",
              "description": "Company/organization number; number returned as OrgNo/organizationNo from other endpoints",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "HasSubstanceTreatments",
              "in": "query",
              "description": "has reported substance treatment",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Substance",
              "in": "query",
              "description": "E.g. substance=1 (id returned as substanceId from other endpoints providing treatment information)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            {
              "name": "SubstanceOtherInFeed",
              "in": "query",
              "description": "Sites treated in-feed with other substances (other substances substance id=99)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "SubstanceOtherBath",
              "in": "query",
              "description": "Sites bath treated with other substances (other substances substance id=99)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "ProductionType",
              "in": "query",
              "description": "Type of production license.",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "Purpose",
              "in": "query",
              "description": "Type of production license purpose",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "AnyGreen",
              "in": "query",
              "description": "\"Green\"-licence may be used on sites",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "CountyMunicipality",
              "in": "query",
              "description": "Norwegian \"kommune-/fylkenummer\"",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "CleanerFish",
              "in": "query",
              "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\r\nafter week 16, 2018, because of changes in reporting requirements.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "Species",
              "in": "query",
              "description": "Cleanerfish species id returned as speciesId from other endpoints. Cleaner fish data is not available\r\nafter week 16, 2018, because of changes in reporting requirements.",
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            {
              "name": "MechanicalRemoval",
              "in": "query",
              "description": "Has reported mechanical removal of lice",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "InsideIlaControlArea",
              "in": "query",
              "description": "All sites that are inside an ISA restricted zone",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "ProductionArea",
              "in": "query",
              "description": "The id of productionarea. Valid values are 1-13",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "ShrimpFishingGroundProximity",
              "in": "query",
              "description": "All sites that are within 1000 m of shrimpfishingground",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "ShrimpfishinggroundOrCodspawninggroundProximity",
              "in": "query",
              "description": "All sites that are within 500 m of shrimpfishingground or codspawningground",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "IsOnLand",
              "in": "query",
              "description": "Sites that are on land (if false only sites at sea are included)",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "OnlyWithSalmonoidLicense",
              "in": "query",
              "description": "Only include localities that have a license for salmon, trout or rainbow trout",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "LicenseSpecies",
              "in": "query",
              "description": "One or more species (related to aquaculture register) in lowercase (returned from other endpoint)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "WithinPolygon",
              "in": "query",
              "description": "A polygon, that (when set) makes this method only return localities within the polygon",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "NonMedicinalTreatmentType",
              "in": "query",
              "description": "Include only localities with the specified nonMedicinalTreatmentTypes.\r\nOnly relevant for reports from updated licereport form starting 2024.",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BW.Api.Api.Licereport.Models.LiceReport.NonMedicinalTreatmentType"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekData"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekData"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityWeekData"
                  }
                }
              }
            },
            "204": {
              "description": "No Content"
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/{year}/{week}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Detailed site information for a week",
          "description": "Get full site information for a particular site and week specified by site id (localityNo), year and week.\r\nIn order to interpret this data correctly, familiarity with the lice reporting information from\r\nthe Norwegian Food Safety Authority (www.mattilsynet.no), ILA/PD disease information from\r\nthe Norwegian Veterinary Institute (www.vetinst.no) and aquaculture licenses from\r\nthe Norwegian Directorate of Fisheries (www.fiskeridir.no) is required.\r\n            \r\nCleaner fish is not included after week 16, 2018, because of changes in reporting requirements.\r\n            \r\nThe localityWeek information is updated nightly, with data reported to the Norwegian Food Safety Authority\r\nvia AltInn.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "year part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "week part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV1"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV1"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityReportV1"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/avgfemalelice/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Average female lice count by site and year",
          "description": "Get a list of average adult female lice count for a full year for a particular site. Suited for displaying\r\nlice development for a period of time at a site.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityLiceGraphDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityLiceGraphDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityLiceGraphDataDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/escape/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Escapes by site and year",
          "description": "Get a list of escape incidents for a year, grouped by week",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FarmedFishEscape.Models.LocalityEscapesGraphDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FarmedFishEscape.Models.LocalityEscapesGraphDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FarmedFishEscape.Models.LocalityEscapesGraphDataDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/liceMedicationEvents/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Medicinal treatments by site and year",
          "description": "Get information about all medicinal treatments for a site for a full year, both in-feed and bath treatments.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AllTreatmentsGraphDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AllTreatmentsGraphDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AllTreatmentsGraphDataDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/liceTreatments/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Lice treatments by site and year",
          "description": "Get information about all treatments for a site for a full year, both in-feed and bath treatments.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AllTreatmentsGraphDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AllTreatmentsGraphDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AllTreatmentsGraphDataDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/liceTypeDistribution/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Lice count by site and year",
          "description": "Get information about a sites lice count for all different stages of lice development for a full year.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityLiceDistributionGraphDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityLiceDistributionGraphDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityLiceDistributionGraphDataDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/seatemperature/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Sea temperature by site and year",
          "description": "Get a list of weekly reported sea temperature measured at or near a site for a full year.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitySeaTemperatureGraphDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitySeaTemperatureGraphDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitySeaTemperatureGraphDataDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/localities": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "List all aquaculture sites",
          "description": "Returns a complete and compact list of aquaculture sites with names. The property localityNo is used in\r\nother endpoints to request detailed data for sites.",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Optional query (search by name or site id)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdMunicipalityDto"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdMunicipalityDto"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdMunicipalityDto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/localitieswithsalmonoids": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "List all aquaculture sites with salmonoid license",
          "description": "Returns a compact list of aquaculture sites with names for sites that has salmonoid license. The property\r\nlocalityNo is used in other endpoints to request detailed data for sites.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdDto"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdDto"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalityNameIdDto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/localitiesoverlimitbyweek": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Get count of sites over lice limit by week",
          "description": "Weekly count of sites over lice limit",
          "parameters": [
            {
              "name": "startYear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "endYear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByWeek"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByWeek"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByWeek"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/localitiesoverlimitbyyear": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Average count and percentage of sites over lice limit by year",
          "parameters": [
            {
              "name": "startYear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "endYear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYear"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYear"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYear"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/localitiesoverlimitbyyearandregion": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Average count and percentage of sites over lice limit, grouped by region",
          "description": "The grouping is done by *current* counties (fylker).",
          "parameters": [
            {
              "name": "startYear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "endYear",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYearAndRegion"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYearAndRegion"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.LocalitiesOverLimitByYearAndRegion"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/locality/{localityNo}/disease/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Annual disease summary for a site.",
          "description": "Get disease information for a particular site for a full year. An empty array on the \"data\" property\r\nindicates no diseases are confirmed nor suspected for the site in that year.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseDataDto"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseDataDto"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseDataDto"
                  }
                }
              }
            }
          },
          "deprecated": true
        }
      },
      "/v2/geodata/fishhealth/locality/{localityNo}/disease/{year}": {
        "get": {
          "tags": [
            "FishHealthLocality"
          ],
          "summary": "Annual disease case summary for a site.",
          "description": "Get disease detail information for a particular site for a full year. An empty array on the \"data\" property\r\nindicates no diseases are confirmed nor suspected for the site in that year.",
          "parameters": [
            {
              "name": "localityNo",
              "in": "path",
              "description": "site id",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "year",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseCaseDetail"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseCaseDetail"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.FishhealthLocality.Models.AnnualDiseaseCaseDetail"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/forbiddenmedicinalzone-badebehandling/{id}": {
        "get": {
          "tags": [
            "ForbiddenMedicinalZoneBadebehandling"
          ],
          "summary": "Get information about a zone where bath treatments are prohibited.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id of prohibition zone",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "404": {
              "description": "Not Found",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                }
              }
            },
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ForbiddenMedicinalZones.Models.ForbiddenMedicinalZoneBadebehandling"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ForbiddenMedicinalZones.Models.ForbiddenMedicinalZoneBadebehandling"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ForbiddenMedicinalZones.Models.ForbiddenMedicinalZoneBadebehandling"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/download/forbiddenmedicinalzone-badebehandling": {
        "get": {
          "tags": [
            "Download"
          ],
          "summary": "Download dataset to chart plotter and other file formats",
          "parameters": [
            {
              "name": "format",
              "in": "query",
              "description": "Use the endpoint /v1/geodata/service/downloadable/forbiddenmedicinalzone-badebehandling to get the list of supported file formats for this dataset",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/gzip": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/forbiddenmedicinalzone-kitinsyntesehemmere/{id}": {
        "get": {
          "tags": [
            "ForbiddenMedicinalZoneKitinsyntesehemmere"
          ],
          "summary": "Get information about a zone where kitin synthesis prohibitors are prohibited.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "id of prohibition zone",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "404": {
              "description": "Not Found",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                  }
                }
              }
            },
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ForbiddenMedicinalZones.Models.ForbiddenMedicinalZoneKitinsyntesehemmere"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ForbiddenMedicinalZones.Models.ForbiddenMedicinalZoneKitinsyntesehemmere"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BW.Api.Api.ForbiddenMedicinalZones.Models.ForbiddenMedicinalZoneKitinsyntesehemmere"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/download/forbiddenmedicinalzone-kitinsyntesehemmere": {
        "get": {
          "tags": [
            "Download"
          ],
          "summary": "Download dataset to chart plotter and other file formats",
          "parameters": [
            {
              "name": "format",
              "in": "query",
              "description": "Use the endpoint /v1/geodata/service/downloadable/forbiddenmedicinalzone-kitinsyntesehemmere to get the list of supported file formats for this dataset",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/gzip": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          }
        }
      },
      "/v1/geodata/fishhealth/ilaprotectionzone/{year}/{week}": {
        "get": {
          "tags": [
            "IlaControlArea"
          ],
          "summary": "ISA protection zones by for week",
          "description": "Retrieve information about ISA protection zones. It's important to note that the Fish Health application\r\ndoes not have access to historical data about such zones. For weeks preceding the start of availability\r\nof this dataset, data on these zones is not available. See documentation of\r\nv1/geodata/fishhealth/ilacontrolarea/firstvaliddate endpoint.",
          "parameters": [
            {
              "name": "year",
              "in": "path",
              "description": "Year part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "week",
              "in": "path",
              "description": "Week part of ISO week date",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "title": "GeoJson FeatureCollection",
                    "required": [
                      "features"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "enum": [
                          "FeatureCollection"
                        ],
                        "example": "FeatureCollection"
                      },
                      "features": {
                        "title": "GeoJson feature",
                        "type": "array",
                        "items": {
                          "title": "GeoJson Feature",
                          "required": [
                            "geometry",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "Feature"
                              ],
                              "example": "Feature"
                            },
                            "properties": {
                              "type": "object"
                            },
                            "geometry": {
                              "title": "GeoJson Geometry",
                              "type": "object",
                              "anyOf": [
                                {
                                  "title": "GeoJson Point Geometry",
                                  "required": [
                                    "type",
                                    "coordinates"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "Point"
                                      ],
                                      "type": "string",
                                      "default": "Point"
                                    },
                                    "coordinates": {
                                      "minItems": 2,
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "example": [
                                        10.4,
                                        60.5
                                      ]
                                    }
                                  }
                                },
                                {
                                  "title": "GeoJson LineString Geometry",
                                  "required": [
                                    "type",
                                    "coordinates"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "LineString"
                                      ]
                                    },
                                    "coordinates": {
                                      "minItems": 2,
                                      "type": "array",
                                      "items": {
                                        "minItems": 2,
                                        "type": "array",
                                        "items": {
                                          "type": "number"
                                        },
                                        "example": [
                                          10.4,
                                          60.5
                                        ]
                                      }
                                    }
                                  }
                                },
                                {
                                  "title": "GeoJson Polygon Geometry",
                                  "required": [
                                    "type",
                                    "coordinates"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "Polygon"
                                      ]
                                    },
                                    "coordinates": {
                                      "minItems": 4,
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "minItems": 2,
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          },
                                          "example": [
                                            10.4,
                                            60.5
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      },
                      "bbox": {
                        "type": "object",
                        "nullable": true
                      }
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "title": "GeoJson FeatureCollection",
                    "required": [
                      "features"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "enum": [
                          "FeatureCollection"
                        ],
                        "example": "FeatureCollection"
                      },
                      "features": {
                        "title": "GeoJson feature",
                        "type": "array",
                        "items": {
                          "title": "GeoJson Feature",
                          "required": [
                            "geometry",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "Feature"
                              ],
                              "example": "Feature"
                            },
                            "properties": {
                              "type": "object"
                            },
                            "geometry": {
                              "title": "GeoJson Geometry",
                              "type": "object",
                              "anyOf": [
                                {
                                  "title": "GeoJson Point Geometry",
                                  "required": [
                                    "type",
                                    "coordinates"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "Point"
                                      ],
                                      "type": "string",
                                      "default": "Point"
                                    },
                                    "coordinates": {
                                      "minItems": 2,
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "example": [
                                        10.4,
                                        60.5
                                      ]
                                    }
                                  }
                                },
                                {
                                  "title": "GeoJson LineString Geometry",
                                  "required": [
                                    "type",
                                    "coordinates"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "LineString"
                                      ]
                                    },
                                    "coordinates": {
                                      "minItems": 2,
                                      "type": "array",
                                      "items": {
                                        "minItems": 2,
                                        "type": "array",
                                        "items": {
                                          "type": "number"
                                        },
                                        "example": [
                                          10.4,
                                          60.5
                                        ]
                                      }
                                    }
                                  }
                                },
[...]
